html{
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
    background-color: rgb(22, 22, 21);
}
.Main{
    padding: 1px;
    background-color: rgba(70, 70, 70, 0.685);
    color: rgb(211, 234, 255);
    font-style: italic;
    font-size: 20px;
    text-align: center;
    user-select: none;
}
.NavBar {
    background-color: rgb(35, 35, 35);
    color: rgb(211, 234, 255);
    user-select: none;
    display: flex;
    justify-content: space-around;
    align-items: left;
    padding: 10px;
    height: fit-content;
    margin-top: 1px;
    margin-top: 1px;
}

.NavBar div {
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.NavBar div:hover {
    color: rgb(144, 238, 144);
}

