html{
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    background-color: rgb(20,20,20);
}

/*This is The Header part*/
.header{
    padding: 1px;
    background-color: rgba(70, 70, 70, 0.685);
    color: rgb(211, 234, 255);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    user-select: none;
}

/*This is The NavBar part*/
.NavBar{
    background-color: rgb(35, 35, 35);
    color: rgb(211, 234, 255);
    user-select: none;
    display: flex;
    justify-content: space-around;
    align-items: left;
    padding: 10px;
    height: fit-content;
}

.NavBar div{
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.NavBar button:hover{
    color: rgb(147, 153, 204);
}
  
button{
    background-color: var(--button-background);
    color: var(--button-text);
    border: none;
    padding: 5px 15px;
    cursor: pointer;
  }

/*This is the OverView and Main Section of our web*/
.Overview{
    color: rgb(211, 234, 255);
    font-style: italic;
}